@import url(./fonts.css);

body {
  font-family: "Mont", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.header {
  margin-top: 18px;
}
.bg-holder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 655px;
}
.bg-holder__content {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg-holder__content::after {
  content: "";
  width: 100%;
  height: 101px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../assets/img/shape.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-holder__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.wrapper {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  margin-left: auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.phone {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #4b5258;
}
.nav-phone-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #959a9d;
  margin-top: 4px;
}
.nav-phone-week {
  padding-left: 13px;
  background-image: url(../assets/icons/Ellipse1.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.social {
  /* max-width: 225px;
    width: 100%; */
  display: flex;
  text-align: end;
  gap: 15px;
  align-items: center;
}
.social-icons {
  display: flex;
  gap: 10.11px;
}
.social-icons-item {
}
.social-text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  text-align: right;

  color: #4b5258;
}
.nav-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: right;
  color: #4b5258;
  border: 1px solid #43aaff;
  border-radius: 100px;
  padding: 21px 25px 22px 26px;
  background: none;
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin-left: 50.11px;
  cursor: pointer;
}
.main {
}
.promo {
  width: 100%;
position: relative;
}
.promo .wrapper {
  flex-direction: column;
  align-items: start;
}
.promo-content {
  max-width: 590px;
  margin-top: 83px;
}
.promo-title {
  width: 100%;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  color: #4b5258;
}
.promo-text-line {
  width: 40px;
  height: 2px;
  left: 612px;
  top: 269px;
  background: #43aaff;
}
.promo-title-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #4b5258;
  margin-left: 20px;
  padding-left: 58px;
  background-image: url(../assets/img/promo-title-pseudo.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.promo-title-normal-text {
  font-weight: 600;
}

.promo-text {
  margin-top: 45px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #4b5258;
}
.promo-btns {
  display: flex;
  gap: 15px;
  margin-bottom: 155px;
}
.promo-price {
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  padding: 30px 31px 30px 43px;
  background: #43aaff;
  border-radius: 100px;
}
.promo-choose {
  cursor: pointer;
  background: #ffc24d;
  padding: 30px 31px 30px 43px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  /* identical to box height, or 20px */
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
}
.light:hover {
  box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
}
.bubles {
}
.promo-info-text {
  padding: 17px 26.64px 18px 25.64px;
  max-width: 178px;
  width: 100%;
  color: rgba(75, 82, 88, 1);
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  width: 178px;
  height: 75px;
right: 147px;
  top: 289px;
  z-index: 10;
}
.blue-span {
  color: rgba(67, 170, 255, 1);
}
.bullets {

}
.bullet {
  position: relative;
  max-width: 248.54px;
  width: 100%;
height: 149.13px;
  background-color: #43AAFF;
border-radius: 30px;
display: flex;
align-items: center;
background-image: url(../assets/img/MaskGroup.png);
}
.bullet-one{
  

}
.yellow-bullet{
background-color: rgba(255, 194, 77, 1);
}
.bullet-text{
  max-width: 187px;
  color: #fff;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 140%;
padding: 44px 35px;
}
.img-bullet{
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
background-color: transparent;
}
.img5{
  border-radius: 0px 0px 30px 0px;
}
